html, body {
    margin: 0;
    height: 100%;
}

#aquarium {
    background: linear-gradient(rgb(54, 208, 255),rgb(52, 25, 206));
    margin: 0;
    height: 100%;
}

#Fish {
    margin: 0;
    height: 100%;
}

